*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1, h2, h3{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(199, 133, 48);
    font-weight: 400;
    font-size: 32px;
    border: 4px dotted burlywood;
    border-left: 0px;
    border-right: 0px;
    padding: 12px 0;
    margin: 8px auto;
}

a{
    display: block;
    margin-bottom: 2px;
    font-size: large;
}

ul, ol{
    width: 140px;
    padding-right: 20px;
    margin: 10px auto;
}

ol{
    width: 400px;
}

div{
    background-color: beige;
    max-height: fit-content;
    max-width: fit-content;
    border: 2px solid burlywood;
    padding: 20px;
    margin: 16px auto;
}